<a href="https://colab.research.google.com/github/PrathmeshPawarb/Data-Science-Machine-Learning-Assignments/blob/main/Hypothesis_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import scipy
from scipy import stats
from scipy.stats import chi2
from scipy.stats import chi2_contingency

#Q1 Diameter of cutlets

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
df = pd.read_csv("/content/Cutlets.csv")

In [ ]:
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [ ]:
A = df['Unit A']
B = df['Unit B']

In [ ]:
stats.ttest_ind(A,B)      # Pvalue>0.05 Null hypothesis accepted (A=B)

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

#Q2 TAT of Laboratories

In [ ]:
df1 = pd.read_csv("LabTAT.csv")

In [ ]:
df1.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laboratory 1  120 non-null    float64
 1   Laboratory 2  120 non-null    float64
 2   Laboratory 3  120 non-null    float64
 3   Laboratory 4  120 non-null    float64
dtypes: float64(4)
memory usage: 3.9 KB

In [ ]:
stats.f_oneway(df1['Laboratory 1'], df1['Laboratory 2'], df1['Laboratory 3'],df1['Laboratory 4'])


# there is difference in avg TAT of Lab

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [ ]:
stats.f_oneway(df1['Laboratory 1'], df1['Laboratory 2'], df1['Laboratory 3'])

F_onewayResult(statistic=81.055779144798, pvalue=9.489467524356218e-30)

In [ ]:
stats.f_oneway(df1['Laboratory 1'], df1['Laboratory 2'], df1['Laboratory 4'])

F_onewayResult(statistic=42.9642878605358, pvalue=1.9085834249466044e-17)

In [ ]:
stats.f_oneway(df1['Laboratory 1'], df1['Laboratory 4'], df1['Laboratory 3'])

F_onewayResult(statistic=177.2130313048574, pvalue=3.516514500116922e-54)

In [ ]:
stats.f_oneway(df1['Laboratory 4'], df1['Laboratory 2'], df1['Laboratory 3'])

F_onewayResult(statistic=164.3788918063587, pvalue=2.4819810784333666e-51)

#Q3  Sales product in different regions

In [ ]:
df2= pd.read_csv('/content/BuyerRatio.csv')

In [ ]:
df2

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Observed Values  2 non-null      object
 1   East             2 non-null      int64
 2   West             2 non-null      int64
 3   North            2 non-null      int64
 4   South            2 non-null      int64
dtypes: int64(4), object(1)
memory usage: 208.0+ bytes

In [ ]:
table= df2.drop('Observed Values', axis=1)
table

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [ ]:
chi2result= scipy.stats.chi2_contingency(table)
chi2result

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

# Q4 Customer order form

In [ ]:
df3= pd.read_csv('/content/Costomer+OrderForm.csv')

In [ ]:
df3

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [ ]:
dummy= pd.get_dummies(df3)
dummy.head()

,Phillippines_Defective,Phillippines_Error Free,Indonesia_Defective,Indonesia_Error Free,Malta_Defective,Malta_Error Free,India_Defective,India_Error Free
0,0,1,0,1,1,0,0,1
1,0,1,0,1,0,1,1,0
2,0,1,1,0,1,0,0,1
3,0,1,0,1,0,1,0,1
4,0,1,0,1,1,0,0,1

In [ ]:
print(df3['Phillippines'].value_counts())
"\n"
print(df3['Indonesia'].value_counts())
"\n"
print(df3['Malta'].value_counts())
"\n"
print(df3['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Error Free    269
Defective      31
Name: Malta, dtype: int64
Error Free    280
Defective      20
Name: India, dtype: int64

In [ ]:
data= ([271,267,269,280],[29,33,31,20])
data

([271, 267, 269, 280], [29, 33, 31, 20])

In [ ]:
#chi2 statistical
chi2stat= scipy.stats.chi2_contingency(data)
chi2stat

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))

In [ ]:
#chi2 crirtical
chi2crit= chi2.ppf(1-0.05,3)    # for default 5% (0.05)----chi2.ppf(1-0.05,df)
chi2crit

7.814727903251179